# Default ignored files
/shelf/
/workspace.xml

# Eclipse
/compiler.xml
/misc.xml
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
ClassroomOne/
ClassroomTwo/
ClassroomThree/
ClassroomFive/
classroomFour/

.gitattributes

